.gradle/
build/
.kotlin/
buildtmpdecompile/
/com/
run/
.claude/
nul
Tropifurnitures-1.0.0+1.21.1.jar
Tropimod.jar
audit/
Tropifurnitures-1.0.0+1.21.1.jar
bin/
Tropicosmetics.jar
TropimodClient-1.0.0+1.21.1.jar
TropimonBuild-1.0.0+1.21.1.jar